/node_modules
/public/build
/public/hot
/public/storage
/spec/openapi.bundle.yaml
/storage/*.key
/vendor
/.phpstorm.meta.php
/.phpunit.cache
.phpunit.result.cache
.php-cs-fixer.cache
.env
.env.backup
.env.testing
.env.production
_ide_helper.php
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
